<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <section>
      <h2>oops, ejs wrong path</h2>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
