<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <form action="">
      <label for="name">Name</label>
      <input type="text" id="name" />
      <label for="profession">Profession</label>
      <input type="text" id="profession" />
      <label for="description">Description</label>
      <textarea id="description" cols="30" rows="10"></textarea>
      <button>Submit</button>
    </form>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
